*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: right;
    gap:1% ;
    align-items: center;
    padding: 1%;
    font-size: 1vw;
}

.menu-account-icon{
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;    
    
    img{
        width: 80%;
        height: fit-content;
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 3%;
}

#logo{
    width: 20%;
}

#input-search {
    width: 45vw;
    height: 3vw;
    margin-top: 2%;
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 3vh;
}

#input-search:hover{
    box-shadow: 0 0 5px 2px rgb(204, 204, 204);
}

.btns{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

#search{
    margin-right: 1%;
}

.btn-search{
    padding: 1%;
    border:none;
    border-radius: 5px;
    font-size: 1vw;
}

.btn-search:hover{
    cursor: pointer;
    border: 1px solid #8a8989;
}

footer{
    background-color: rgb(230, 236, 236);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    font-size: 1.1vw;
}

.country{
    padding:1%;
    border-bottom: 2px solid #dfdfdf;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer-left{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}

.footer-right{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    gap: 5%; 
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

@media only screen
    and (min-device-width: 800px){
        .footer-left{
            display: flex;
            align-content: flex-start;
        }
        .footer-right{
            display: flex;
            align-content: flex-end;
        }
    }

@media only screen
    and (min-device-width: 200px)
    and (max-device-width: 700px){
        header img{
            width: 50%;
        }
    }

@media only screen
    and (min-device-width: 700px)
    and (max-device-width: 1000px){
        .btn-search{
            font-size: 70%;
        }
        footer{
            font-size:70% ;
        }
    }

@media only screen
    and (min-device-width: 100px)
    and (max-device-width: 500px){
        .btn-search{
            font-size: 30%;
        }
        footer{
            font-size:30% ;
        }
    }    
    
@media only screen
    and (min-device-width: 500px)
    and (max-device-width: 700px){
        .btn-search{
            font-size: 50%;
        }
        footer{
            font-size:50% ;
        }
    }

@media only screen
    and (min-device-width: 10px)
    and (max-device-width: 300px){

        header img{
            width: 20%;
        }
    }